
 .main-container {
  background: image-url('hometop.jpg');
  width: 100vw;
  height: 130vh;
  opacity:  0.7;
}
.home {
	text-align: center;
	margin-top:20%;
	font-family: 'M PLUS Rounded 1c', ;
}
.home p {
	margin: 10px 0 42px;
}
header {
	margin-bottom: 50px;
}
.actions {
	margin: 10px;
}
.container {
	padding: 20px;
}
.footer {
  width: 100vw;
  height: 70px;
  background-color: #dddddd;
}
.footer p {
	padding-top: 10px;
	text-align: center;
}